# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store

# deployment
/web/build

# dependencies
/web/node_modules
/web/.pnp
/web/.pnp.js

# testing
/web/coverage

# misc
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local
/web/.eslintcache

/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
