.app header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  background: #EFEFEF;
  box-shadow: 0 4px 10px #BBB;
}

.app header .logo {
  height: 50px;
}

.app header h1 {
  margin: 0;
  font-weight: 100;
}

.app section.body {
  padding: 20px;
}
